#gameQuestion {
  margin: 50px auto;
  max-width: 90%;
  text-align: center;
}

#gameQuestion img {
  width: 90%;
  max-width: 200px;
}

.playBoxes {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  max-width: 300px;
}

.playBoxes li {
  display: block;
  text-align: center;
  margin: 0 0 50px 0;
}

.playBox {
  background-color: #bcbcbc;
  text-align: center;
  padding: 10px;
  min-height: 100px;
  max-width: 85%;
  margin: 0 auto;
}

.playBox h2 {
  font-weight: 300;
  margin: 0 0 10px 0;
  padding: 0;
}

.IMDB_searchBox {
  height: 15px;
  background-color: white;
  margin: 0 auto;
  padding: 10px;
  text-align: left;
  color: black;
  width: 90%;
  border: none;
}

.submitAnswers {
  background-color: #989898;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
}

.submitAnswers h2 {
  font-weight: 300;
  margin: 0;
  padding: 0;
}

::placeholder {
  color: #bcbcbc;
  font-family: "Exo";
  font-weight: 200;
}

input[type="submit"].submitAnswers {
  color: black;
  font-family: "Exo";
  font-weight: 400;
  font-size: 1.5em;
  margin: 0 auto;
  border: none;
}
