/**
GENERAL STYLES
**/

body {
  font-family: "Exo";
  font-weight: 200;
  min-width: 320px;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

/**
HEADER STYLES
**/

header {
  padding-top: 10px;
}

.logo { /** H* elements**/
  margin: 0;
  font-family: "Exo";
  font-weight: 400;
  text-align: center;
  color: white;
}

#imgLogo {
  width: 20em;
  display: block;
  margin: 0 auto;
}

/**
NAV STYLES
**/

nav {
  margin: 10px 0 0 0;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 10px;
}

li {
  display: inline-block;
  margin: 0;
}

nav a {
  padding: 10px 8px;
  font-weight: 600;
}

/**
MAIN CONTENT STYLES
**/

main {
  padding: 15px 0 0 0;
}

main > p {
  margin: 0 10px 15px 10px;
}

/**
FOOTER STYLES
**/

footer {
  padding: 15px;
  text-align: center;
  border-top: 5px solid #11ebff;
}

footer p {
  margin: 0;
}


/**
COLORS
**/

body {
  background-color: #ffffff;
}

header {
  background-color: black;
}

nav {
  background-color: #11ebff;
}

main {
  background-color: white;
}

footer {
  background-color: black;
  color: white;
}



header a, header a:visited {
  color: #333333;
}

nav a:hover, nav a.currentPage {
  color: white;
}
